{% load static %}
<div class="container justify-content-center">
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="row">
                <img src="{% static 'images/discord-logo.svg' %}" alt="discord_logo.svg">
                <p class="reg-discord-text">Register with discord.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                {{register_form.username.label_tag}}
                {{register_form.username}}
            </div>
            <div class="mb-3">
                {{register_form.email.label_tag}}
                {{register_form.email }}
            </div>
            <div class="mb-3">
                {{register_form.password.label_tag}}
                {{register_form.password }}
                <p class="form-info">Password Requirements: 8 characters minimum, must contain one numeric (0-9), one Uppercase (A-Z) and one lowercase (a-z)</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <input class="form-control btn-secondary btn-secondary-modal" type="submit" id="register-submit-btn" value="Register">
    </div>
</div>

