{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--INTER FONT FROM GOOGLE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&display=swap" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="/static/styles/base-sidebar.css">


    <title>{% block pagetitle %}{% endblock pagetitle %} | NEERP PD</title>
    
</head>
<body>
    {% if user_profile.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <!--SIDEBAR NAVIGATION-->
                <div class="col-auto min-vh-100 nav-bg">
                    <div class="pt-4 pb-1 px-2">
                        <a class="navbar-brand d-flex align-items-center" href="">
                            <img src="/static/images/pd-logo.png" style="width: 50px;" alt="">
                            <span class="fs-4 d-none d-sm-inline text-white px-2">NEERP PD</span>
                        </a>
                        <hr class="divider mt-3">
                        <ul class="nav nav-pills flex-column mb-auto nav-justified">
                            <li class="nav-item">
                                <a href="{% url 'authentication:index' %}" class="nav-link 
                                    active text-white fs-5">Home</a>
                                <hr class="nav-item-divider">
                            </li>
                            
                            {% if user_profile.is_police %}
                                <li class="nav-item">
                                    <a href="{% url 'authentication:index' %}" class="nav-link text-white fs-5">Dashboard</a>
                                    <hr class="nav-item-divider">
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="#nestedNav1" class="nav-link text-white fs-5" 
                                data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="nestedNav1">Bails</a>
                                    <ul class="nested-nav collapse nav nav-pills flex-column mb-auto nav-justified" id="nestedNav1">
                                        <li><a href="#" class="nav-link text-white fs-6">Bail Search</a></li>
                                        {% if user_profile.is_police %}
                                            <li><a href="#" class="nav-link text-white fs-6">Create A Bail</a></li>
                                        {% endif %}
                                    </ul>
                                <hr class="nav-item-divider">
                            </li>
                            <li class="nav-item">
                                <a href="#nestedNav2" class="nav-link text-white fs-5" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="nestedNav2">Persons</a>
                                    <ul class="nested-nav collapse nav nav-pills flex-column mb-auto nav-justified" id="nestedNav2">
                                        <li><a href="#" class="nav-link text-white fs-6">Person Search</a></li>
                                        {% if user_profile.is_police %}
                                            <li><a href="#" class="nav-link text-white fs-6">Register A Person</a></li>
                                        {% endif %}
                                    </ul>
                                <hr class="nav-item-divider">
                            </li>
                            {% if user_profile.is_police %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link text-white fs-5">Timesheets</a>
                                    <hr class="nav-item-divider">
                                </li>                              
                            {% endif %}
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white fs-5">Profile</a>
                                <hr class="nav-item-divider">
                            </li>
                        </ul>
                    </div>
                </div>
                <!--MAIN CONTENT-->
                <div class="col ">
                    {% block content %}
                    
                    {% endblock content %}
                    {{user_profile}}
                    <!--FOOTER-->
                    <div class="row align-self-end footer">
                        <span class="fs-6 d-inline text-center p-5">Unique RP 2024 | Created by BeerHuntor</span>
                    </div>
                </div>
            </div>
        </div>    
        <!-- USER IS NOT LOGGED IN -->
    {% else %}
        <nav class="navbar navbar-expand-sm navbar-collapse navbar-dark nav-bg border-bottom border-white">
            <div class="container-fluid">
                <a href="" class="navbar-brand d-flex align-items-center">
                    <img class="nav-bar-logo" src="/static/images/pd-logo.png" alt="unique-pd-logo.png">
                    <span class="fs-4 px-2">North's End Empire PD</span>
                </a>
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                        <a href="" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <!--DISCORD LOGIN-->
                        <a href="#" class="nav-link">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login-modal" type="button">Login</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!--DISCORD REGISTRATION-->
                        <a href="#" class="nav-link">
                            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#reg-modal" type="button">Register</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--LOGIN MODAL-->
        {% comment %} <div class="modal fade" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header justify-content-center">
                  <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Login</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'authentication:login' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% include 'authentication/login_form.html' %}
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-secondary btn-secondary-modal" data-bs-dismiss="modal">Login</button>
                        <button type="button" class="btn btn-primary">Close</button>                
                    </div>
                </form>
              </div>
            </div>
        </div> {% endcomment %}
        <!-- Registration Modal -->
        <div class="modal fade" id="reg-modal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Regsiter</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                    <div class="modal-body">
                        <div class="container">
                            <p>You are about to be redirected to Discord, and register using a third party software. If you are sure you want to do this, continue by clicking the button below.</p>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center d-flex">
                        <a href="{% url 'authentication:discord_register' %}"><input type="submit" class="btn btn-primary" value="Continue To Discord."></a>
                    </div>
                </div>
            </div>
        </div>


        <!--REGISTER SUCESS MODAL-->
        {% comment %} <div class="modal fade" id="reg_modal_success" data-bs-backdrop="static" data-bs-keybaord="false" tableindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title fs-6">Registration Successful</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                        </button>
                        <div class="modal-body">
                            {% include 'authentication/register_success.html' %}
                        </div>
                </div>
            </div>
        </div> {% endcomment %}
        {% block logged_out_content %}
        {% endblock logged_out_content %}
        <div class="row align-self-end footer">
            <span class="fs-6 d-inline text-center p-5">Norths End Empire RP 2024 © | Property of NEERP Police</span>
        </div>
    {% endif %}
    <!--JQuery Library CDN-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts/sidebar-nav-active-script.js' %}"></script>
    <script src="{% static 'scripts/registration-form-script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>